body{
  background-color: tan;
  opacity: 1.0;
}
@font-face {
font-family: 'Caligraphy';
src: url('External-Font.ttf');
}
h1 {
  text-align: center;
  color: #800020;
  font-family: Caligraphy;
  font-size: 35px;
}
nav {
  text-align: center;
}
div.boom {
  border:2px dashed red;
  width: 500px;
  border-radius: 20px;
  margin: 0 auto;
  background-color: orange;
}
form {
  font-size: 25px;
  padding: 100px;
}
textarea{
  width: 300px;
  height: 50px;
}
img {
  width: 400px;
  position: relative
  left: 30px;
  /*-moz-box-shadow: -5px -5px*/
  box-shadow: 3px 3px 3px 3px;
  border: 2px dashed lightblue;
  width: 400px;
  border-radius: 20px;
}
div.intro {
  margin-left: 250px;
}
p.font{
  font-size: 23px;
}
h2 {
  font-size: 30px;
}
ol {
  font-size: 23px;
}
p.shows {
  font-size: 23px;
  margin-left: 250px;
}
nav.back {
  background-color: #9C9F84;
  padding: 20px;
  font-size: 18px;
}
a.disappear {
  visibility: hidden;
}

body.about-color {
  background-color: teal
}
#submit {
  color: blue;
  background-color: purple;
}
